<main class="h-screen px-4 flex flex-col justify-center items-center gap-4 md:w-2/3 lg:w-2/5 m-auto">
  <article class="flex flex-col p-8 bg-white gap-8 rounded-lg drop-shadow-2xl">
    <ng-container *ngIf="promo_code else elseBlock">
      <p>Il tuo codice sconto trenitalia è:</p>
      <span>
        <h1 id="textToCopy" class="text-lg font-bold back">{{promo_code}}</h1>
      </span>
    </ng-container>

    <ng-template #elseBlock>
      <h1>C'è stato un problma nella richiesta del codice sconto</h1>
      <p *ngIf="message">{{message}}</p>
    </ng-template>
  </article>
</main>

