<main class="h-screen px-4 flex flex-col justify-center items-center gap-4 md:w-2/3 lg:w-2/5 m-auto">
  <img src="/assets/img/logo_meetravel.png" class=" w-24"/>
  <article class="flex flex-col p-8 bg-white gap-8 rounded-lg drop-shadow-2xl">
    <h1>Inserisci l'indirizzo email per ottenere il link al codice sconto!</h1>
    <form [formGroup]="emailForm" (ngSubmit)="checkMail()" class="flex flex-col gap-6">
      <div class="form-group">
        <input placeholder="Email" type="email" id="email" formControlName="email" required class="bg-blue-100 p-2 rounded-md" />
      </div>
      <button type="submit" class="p-2 bg-blue-600 text-white rounded-lg">Invia!</button>
    </form>
  </article>
</main>
