<main class="h-screen px-4 flex flex-col justify-center items-center gap-4 md:w-2/3 lg:w-2/5 m-auto">
<img src="/assets/img/logo_meetravel.png" class=" w-24"/>
  <article class="flex flex-col p-8 bg-white gap-8 rounded-lg drop-shadow-2xl">
    <h3 *ngIf="email">Mail inviata con successo a {{email}}, controlla la tua mail per ottenere il link e generare il codice Sconto!</h3>
  </article>

  <article class="flex flex-col p-8 bg-white gap-8 rounded-lg drop-shadow-2xl">
    <h3 class="text-xl">Non hai ancora l'app di MeeTravel?</h3>
    <button (click)="openAppStore()" class="p-2 bg-blue-600 text-white rounded-lg flex justify-center items-center gap-4">
      <p class="text-center font-bold">SCARICALA SUBITO!!</p> <img src="assets/img/logo_meetravel.png" class="w-8" />
    </button>
  </article>
</main>

